body, #react-root, #app {
  width: 100%;
}

body {
  color: $primary-text-color;
}

#react-root {
  background-color: white;
}

button {
  @include btn-default;
  background-color: $primary-color;
  color: $primary-complementary-color;
  padding: $tiny-size $small-size;
  font-weight: 400;
  font-size: $x-small-size + 1;

  span {
    vertical-align: top;
  }
}

select {
  display: inline-block;
  background-color: $control-background-color;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input, .form-control {
  background-color: $control-background-color;
  padding: 0 $medium-size;
  border: none;
  box-shadow: none;
}

.form-group {
  margin-bottom: $tiny-size;
}

h1 {
  color: $primary-color;
  font-size: $large-size;
}

h2 {
  color: $primary-color;
  font-size: $medium-size;
}

label {
  margin-bottom: 0;
}

@include placeholder {
  font-style: italic;
}


////////////////////////////////////////
.page-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
  display: block;
}

.page-enter.page-enter-active {
  opacity: 1;
  display: block;
}

.page-leave {
  opacity: 1;
  transition: opacity .2s ease-out;
}

.page-leave.page-leave-active {
  opacity: 0.01;
}
/////////////////////////////////////////

.alert {
  position: fixed;
  width: 100%;
  z-index: 1000;
  min-height: 40px;

  @include desktop {
    top: $xx-large-size;
  }
}

.alert-dismissible .close {
  top: -8px;
  height: $small-size;
}

.checkmark {
  @extend .glyphicon;
  @extend .glyphicon-ok;
}

.layered-navigation {
  overflow: hidden;
}

.form-errors {
  color: red;
}

form {
  .form-errors {
    margin-bottom: $small-size;
  }
}
