.list {
  list-style: none;
  padding: 0;

  .list-item {
    border-top: 2px solid $border-color;
    margin-top: $medium-size;
    padding-top: $medium-size;

    @include desktop {
      margin-top: $xx-large-size;
      padding-top: $xx-large-size;
    }

    &:last-child {
      padding-bottom: $medium-size;
      border-bottom: 2px solid $border-color;

      @include desktop {
        padding-bottom: $xx-large-size;
      }
    }
  }
}

.list-actions {
  margin-left: 0;

  @include desktop {
    float: right;

    .action + .action:before {
      content: "|";
      color: $border-color;
      margin-right: $tiny-size;
    }
  }

  .action a {
    color: $primary-text-color;
  }

  .action:last-child {
    padding-right: 0;
    float: right;

    @include desktop {
      float: none;
      padding-right: $tiny-size;
    }
  }

  .remove-selected {
    position: relative;
    padding-left: $small-size + $x-tiny-size;

    &:before {
      position: absolute;
      content: "";
      display: inline-block;
      left: 0;
      background-image: url('/images/trash_icon.svg');
      background-repeat: no-repeat;
      height: $small-size;
      width: $small-size;
    }
  }
}
