.list {
  list-style: none;
  padding: 0;

  .list-item {
    border-top: 2px solid $border-color;
    margin-top: $medium-size;
    padding-top: $medium-size;

    @include desktop {
      margin-top: $xx-large-size;
      padding-top: $xx-large-size;
    }

    &:last-child {
      padding-bottom: $medium-size;
      border-bottom: 2px solid $border-color;

      @include desktop {
        padding-bottom: $xx-large-size;
      }
    }
  }
}
