@mixin btn-default {
  background-color: lightgrey;
  padding: 5px 10px;
  border: none;
  height: 30px;
}

@mixin hamburger-icon {
  position: relative;
  float: right;
  margin-right: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0px;

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }

  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
}

@mixin ellipsis($width) {
  display: inline-block;
  max-width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin inline-list-with($space, $seperator) {
  li {
    display: inline-block;
    &:after {
      content: $seperator;
    }

    &:last-child {
      &:after { content: none;}
    }
  }

  li + li {
    margin-left: $space;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin flyout-menu($background-color) {
  $flyout-menu-zindex: 9999;
  ul {
    position: relative;
    z-index: $flyout-menu-zindex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  ul li {
    min-height: $small-size;
    line-height: $small-size;

    vertical-align: middle;
  }
  ul li:hover {
    position: relative;
    z-index: $flyout-menu-zindex;
    cursor: auto;
    background-color: lighten($background-color, 10%);
  }
  ul ul {
    visibility: hidden; /* hide sub menus by default */
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: $background-color;
    left: 0;
    z-index: $flyout-menu-zindex - 1;
  }
  ul ul ul {
    top: 0px;
    left: 99%;
  }
  ul li:hover > ul {
    visibility: visible; /* show sub menu */
  }
}
