$primary-color: #178EEE;
$primary-complementary-color: white;
$primary-text-color: #8D8D8D;
$link-color: #D9783E;
$background-gradient-start: $primary-color; // or #1925E3
$background-gradient-end: #1925E3;
$icon-font-path: '/fonts/';
$seperator-color: lighten($primary-text-color, 90%);

// bootstrap override
$border-radius-base:  0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
$body-bg: #E8E8E8;
$input-border: #D7D7D7;
$icon-font-bootstrap-path: $icon-font-path + 'bootstrap/';

// layered navigation overrides
$menu-header-color: $primary-complementary-color;
$menu-header-background-color: $primary-color;
$menu-background-color: white;

$x-tiny-size: 4px;
$tiny-size: 8px;
$x-small-size: 12px;
$small-size: 16px;
$medium-size: 20px;
$x-medium-size: 24px;
$large-size: 32px;
$x-large-size: 36px;
$xx-large-size: 48px;

$desktop-large-size: 60px;
$desktop-x-large-size: 72px;
$desktop-xx-large-size: 108px;
