$border-radius-base:  0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

@import 'bootstrap';
@import 'bootstrap.offcanvas';
@import 'mixins';
@import 'base';

@import 'components/app';

@import 'components/results/result_item';

@import 'components/documents/document_item';
@import 'components/documents/document_page';

@import 'components/search/applied_filters';
@import 'components/search/applied_filter_item';
@import 'components/search/guide_question';
@import 'components/search/filter_box';
@import 'components/search/filter_item';
@import 'components/search/filter_list';
@import 'components/search/search_bar';
@import 'components/search/search_box';
@import 'components/search/search_header';
@import 'components/search/search_page';

@import 'components/shared/react_autosuggest';