// bootstrap override
$border-radius-base:  0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
$body-bg: #E8E8E8;
$input-border: #D7D7D7;

$menu-text-color: #7E7E7E;
$menu-background-color: #EAEAEA;
$menu-animation-time: 500ms;
$menu-animation-type: ease;