.document-item {
  h1 {
    font-size: 30px;
  }

  h2 {
    color: #666;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
  }

  ul {
    list-style: none;
  }

  a {
    color: black;
    text-decoration: underline;
  }
}