$result-header-text-color: #999999;

.result-item {
  margin-bottom: 25px;

  label {
    font-weight: 400;
  }

  label > input {
    margin-left: $tiny-size;
  }

  h2 {
    color: $link-color;
    font-size: $small-size;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: $x-small-size;
  }

  .result-item-number {
    font-weight: 500;
    margin-right: $x-small-size;
  }

  .result-item-header {
    overflow: auto;
    color: $result-header-text-color;
    background-color: #F3F3F3;
    font-weight: 300;
    padding: $x-tiny-size $small-size;

    a {
      color: black;
      text-decoration: underline;
      font-size: 20px;
    }
  }

  .result-item-categories {
    color: $result-header-text-color;
    margin-bottom: $x-small-size;

    span + span:before {
      content: "|";
      padding: 0 $tiny-size;
    }
  }
  .result-item-header-left {
    display: inline;

    .field {
      display: inline-block;
      padding-right: $tiny-size;

      &:last-child {
        padding-right: 0;
      }

      .field-value {
        color: $link-color;
      }

      .field-name {
        margin-right: $x-tiny-size;
      }
    }

    .field + .field {
      padding-left: $tiny-size;
      border-left: 1px solid $result-header-text-color;
    }
  }

  .result-item-header-right {
    display: inline-block;
    text-align: right;
    float: right;

    p {
      margin: 0;
    }
  }

  .result-item-select {
    span {
      display: none;
      @include desktop {
        display: inline;
      }
    }
  }
}
