.result-item {
  margin-bottom: 25px;

  .result-item-header {
    overflow: auto;
    a {
      color: black;
      text-decoration: underline;
      font-size: 20px;
    }
  }

  .result-item-title {
    margin-bottom: 0;
  }

  .result-item-category {
    font-style: italic;
  }

  .result-item-header-left {
    float: left;
    width: 80%;

    h2 {
      margin-top: 0;
    }
  }

  .result-item-header-right {
    float: left;
    width: 20%;
    text-align: right;
    font-size: 0.9em;
    padding-top: 5px;

    p {
      margin: 0;
    }
  }
}