.result-box {
  .result-box-header {
    overflow: hidden;
    border-bottom: 1px solid $border-color;
    padding-bottom: $x-tiny-size;
    margin-bottom: $tiny-size;

    @include desktop {
      &.logged-in {
        padding-top: $small-size + $small-size;
      }
    }
  }

  .sort-order, .result-box-count {
    display: inline-block;
  }

  .sort-order {
    float: left;
  }
  .result-box-count {
    float: right;

    @include desktop {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .saved-articles-actions {
    position: fixed;
    bottom: 0;
    background-color: $input-border;
    height: $x-large-size;
    line-height: $x-large-size;
    text-align: center;
    margin-left: -100%;
    width: 300%;
    height: 20px;
    overflow: visible;

    .icon {
      // cheat to move things left a little to center on mobile
      position: relative;
      left: -5%;
      @include desktop {
        left: 0;
      }
    }


    .icon-email {
      .hotspot {
        left: -11px;
        top: -12px;
      }
    }

    .icon-save-article {
      .hotspot {
        top: -11px;
        left: -12px;
      }
    }

    @include desktop {
      position: static;
      background-color: transparent;
      height: auto;
      line-height: inherit;
      text-align: left;
      margin-left: inherit;
      width: auto;
      float: right;
    }

    .select-all-action {
      display: none;
      margin-left: $tiny-size;

      &:before {
        content: "|";
        margin-right: $tiny-size;
        color: $border-color;
      }

      @include desktop {
        display: inline;
        padding-right: $tiny-size;
      }
    }
  }

  & > .hotspot {
    right: 26px;
    top: 77px;

    @include desktop {
      right: 68px;
      top: 81px;
    }
  }

  .result-list {
    margin: $large-size 0;
  }

  @include desktop {
    .saved-search-buttons {
      display: none;
    }
  }
}
