.sort-order {
  color: #C8C8C8;
  border-bottom: 1px solid $seperator-color;
  padding-bottom: $tiny-size;
  font-weight: 500;
  font-size: $x-small-size;
  text-transform: uppercase;

  .sort-order-label {
    margin-right: $x-tiny-size;
  }

  select {
    appearance: none;
    border: none;
    box-shadow: none;

    text-transform: uppercase;
    background: url('/images/dropdown_grey.svg') 100% no-repeat;
    background-size: $x-small-size;
    padding-right: $x-small-size + $x-tiny-size;
  }
}
