.result-item {
  max-width: 500px;

  .result-item-header {
    overflow: auto;
    a {
      color: black;
      text-decoration: underline;
      font-size: 20px;
    }
  }

  .result-item-title {
    margin-bottom: 5px;
  }

  .result-item-category {
    font-style: italic;
  }

  .result-item-header-left {
    float: left;
    width: 80%;
  }

  .result-item-header-right {
    float: left;
    width: 20%;
  }
}