#app {
  #page-content {
    max-width: $max-page-width;
    margin: 0 auto;
    padding: $small-size;
    z-index: 1;
  }

  .layer-toggle-main {
    @include hamburger-icon;
    background: transparent;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: $small-size;
    margin-right: $small-size;
    height: $small-size;

    .icon-bar {
      background: $menu-header-color;
    }
  }

  .layered-navigation-content {
    padding: 0;
  }

  .top-nav {
    width: auto;
    overflow: visible;
    background: $background-gradient-end; // no gradient support fallback
    background: linear-gradient(to right, $background-gradient-start, $background-gradient-end);
    color: $menu-header-color;
    line-height: $small-size;
    height: $xx-large-size;
    z-index: 2;

    h1 {
      display: inline-block;
      padding: 0;
      padding-top: $small-size;
      padding-left: $small-size;
      margin: 0;
      font-size: $small-size;
      line-height: $small-size;
      text-transform: uppercase;
    }

    .beta {
      margin-left: $tiny-size;
      color: orange;
      font-style: italic;
      text-transform: none;
    }

    button, a, label {
      color: $primary-complementary-color;

      &:hover, &:focus {
        text-decoration: none;
      }
    }

    .main-menu {
      display: none;
      & > li:last-child .layer-toggle {
        padding-right: $small-size + $tiny-size;
      }

      @include desktop {
        display: inline-block;
      }
    }

    @include desktop {
      @include flyout-menu($primary-color);
    }
  }

  footer {
    text-align: center;
    margin-bottom: $desktop-large-size;

    .logo, .forum-logo {
      display: inline-block;

    }

    .forum-logo {
      height: $x-large-size;
    }

    .logo {
      height: $xx-large-size - 6;
      border-right: 1px solid lighten($primary-text-color, 20%);
      padding-right: $tiny-size;
      margin-right: $tiny-size;
    }

    .logo-wrapper {
      display: block;
      margin: $medium-size auto;
    }

    a {
      color: $link-color;
      text-decoration: underline;
    }

    .terms {
      display: inline-block;
    }
  }

  // desktop
  @include desktop {
    .top-nav {
      z-index: 3000;
      position: fixed;
      left: 0;
      right: 0;
    }

    #page-content {
      max-width: $desktop-max-page-width;
      padding-top: $xx-large-size + $xx-large-size;
    }

    .layer-toggle-main {
      display: none;
    }
  }
}
