#app {
  #page-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 25px;
  }

  .layer-toggle-main {
    @include hamburger-icon;
    background: transparent;
    display: none;

    .icon-bar {
      background: $menu-header-color;
    }
  }

  .top-nav {
    width: auto;
    overflow: auto;
    background: linear-gradient(to right, $background-gradient-start, $background-gradient-end);
    color: $menu-header-color;
    padding: $medium-size;
    line-height: $medium-size;
    height: $x-large-size;

    h1 {
      display: none;
      padding: 0;
      margin: 0;
      font-size: $medium-size;
      line-height: $medium-size;
      text-transform: uppercase;
    }

    button {
      height: $medium-size;
    }
  }

  @media (max-width: 768px) {
    .top-nav h1 { display: inline-block; }

    .layer-toggle-main {
      display: inline-block;
      padding: 0;
      margin: 0;
    }


    .layered-navigation-content {
      padding: 0;
    }
  }
}
