@import 'bootstrap';
@import 'bootstrap.offcanvas';

#app {
  transition: 500ms ease;

  #page-content-wrapper {
    width: 100%;
    padding: 0 250px 0 0;
    transition: 500ms ease;
    position: relative;
    min-height: 100vh;
  }

  #page-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 25px;
  }

  .toggle-main-menu {
    @extend .navbar-toggle;
    @extend .offcanvas-toggle;
  }

  @media (max-width: 768px) {
    &.menu-toggled {
      margin-left: -250px;
    }

    &.menu-toggled #sidebar-wrapper {
      margin: 0;
    }

    #sidebar-wrapper {
      margin: 0 -250px 0 0;
    }

    #page-content-wrapper {
      padding: 0;
    }
  }
}