@import '../variables';
@import '../mixins';

#app {
  transition: $menu-animation-time $menu-animation-type;

  #page-content-wrapper {
    width: 100%;
    padding: 0;
    transition: $menu-animation-time $menu-animation-type;
    position: relative;
    min-height: 100vh;
  }

  #page-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 25px;
  }

  .menu-toggle-main {
    @include hamburger-icon;
    background: transparent;
    display: none;

    .icon-bar {
      background: white;
    }
  }

  .top-nav {
    width: auto;
    overflow: auto;
    background: #3C3C3C;
    color: white;
    padding: 7px 25px;
    line-height: 30px;

    h1 {
      display: none;
      padding: 0;
      margin: 0;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 30px;
    }
  }

  @media (max-width: 768px) {
    .top-nav h1 { display: inline-block; }

    .menu-toggle-main {
      display: inline-block;
      padding: 0;
      margin: 0;
    }

    &.menu-toggled {
      margin-left: -250px;
    }

    &.menu-toggled #sidebar-wrapper {
      margin: 0;
    }

    #sidebar-wrapper {
      margin: 0 -250px 0 0;
    }

    #page-content-wrapper {
      padding: 0;
    }
  }
}
