@import 'variables';
@import 'layer';
@import 'layer_toggle';

.layered-navigation {
  transition: $menu-animation-time $menu-animation-type;

  .layered-navigation-content {
    width: 100%;
    padding: 0;
    transition: $menu-animation-time $menu-animation-type;
    position: relative;
    min-height: 100vh;
  }

  .layered-navigation-overlay {
    opacity: 0;
    display: none;
  }

  &.layer-toggled {
    .layered-navigation-overlay {
      opacity: 0.5;
      z-index: 1000;
      background-color: black;
      height: 100%;
      width: 100%;
      display: block;
      position: fixed;
      transition: 700ms ease-in;
    }
  }

  @media (max-width: 768px) {
    &.layer-toggled {
      margin-left: -$layer-width;
    }
  }
}
