.layer {
  height: 100%;
  width: $layer-width;
  position: fixed;
  right: 0;
  z-index: 1001;
  background-color: $menu-background-color;
  color: $menu-text-color;
  transition: $menu-animation-time ease;
  font-weight: 300;
  background-clip: content-box;

  a:hover, a:focus {
    text-decoration: none;
  }

  .layer-header {
    color: $menu-header-color;
    background-color: $menu-header-background-color;
    vertical-align: middle;
    padding: $layer-padding;
    font-size: $small-size;
    height: $menu-header-height;
  }

  .layer-header-title {
    @include ellipsis($layer-width - $layer-btn-close-width - $layer-padding * 2.5);
  }

  .layer-header-close {
    width: $layer-btn-close-width;
    float: right;
    color: $menu-header-color;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .layer-inner {
    height: 100%;
    // need the bottom padding to prevent content from cuttin off when scrolling
    // 100% refers to the entire window and doesn't account for the height of the
    // layer header
    padding-bottom: $menu-header-height;
    overflow-y: scroll;
  }

  .layer-content {
    padding: $small-size;
    word-wrap: break-word;
  }
}

.layer {
  margin: 0;
}

.layer-enter {
  margin-right: -$layer-width;
  transition: margin-right $menu-animation-time $menu-animation-type;
  display: block !important;
}

.layer-enter.layer-enter-active {
  margin-right: 0;
  border-left: none !important;
  display: block;
}

.layer-leave {
  margin-right: 0;
  transition: margin-right $menu-animation-time $menu-animation-type;
}

.layer-leave.layer-leave-active {
  margin-right: -$layer-width;
  border-left: none !important;
}
