@import 'variables';
@import 'layer';
@import 'layer_toggle';

.layered-navigation {
  transition: $menu-animation-time $menu-animation-type;

  .layered-navigation-content {
    width: 100%;
    padding: 0;
    transition: $menu-animation-time $menu-animation-type;
    position: relative;
    min-height: 100vh;

    @include desktop {
      z-index: 1;
    }
  }

  .layered-navigation-overlay {
    opacity: 0;
    height: 0;
    right: 0;
    position: absoulte;
    width: 100%;
    text-align: center;
    vertical-align: middle;

    .layered-navigation-overlay-content {
      display: none;
      padding: $medium-size;
      background-color: rgba(0, 0, 0, 0.3);
      color: $primary-complementary-color;
      margin-top: 50vh;
      font-size: $large-size;
      z-index: 10002;

      @include desktop {
        display: inline-block;
      }
    }
  }

  &.layer-toggled {
    margin-left: -$layer-width;
    overflow: hidden;
    height: 100vh;
    min-height: 100vh;

    .layered-navigation-overlay {
      // solves bug on iOS that prevents overlay from closing https://github.com/facebook/react/issues/134
      // this should be fixed in the next version 0.14.0 so remove once new version is released.
      cursor:pointer;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1.0;
      height: 100%;
      width: 100%;
      display: block;
      position: fixed;
      transition: 150ms ease-in;
    }

    @include desktop {
        margin-left: 0;
    }
  }

}
