@import 'bootstrap';
@import 'variables';
@import 'layer';

.layered-navigation {
  transition: $menu-animation-time $menu-animation-type;

  .layered-navigation-content {
    width: 100%;
    padding: 0;
    transition: $menu-animation-time $menu-animation-type;
    position: relative;
    min-height: 100vh;
  }

  @media (max-width: 768px) {
    &.menu-toggled {
      margin-left: -$layer-width;
    }
  }
}
