.layer {
  height: 100%;
  width: $layer-width;
  position: fixed;
  right: 0;
  z-index: 1000;
  background-color: $menu-background-color;
  color: $menu-text-color;
  transition: $menu-animation-time ease;
  font-weight: 300;
  overflow-y: scroll;
  background-clip: content-box;

  a:hover {
    text-decoration: none;
  }

  .layer-header {
    color: $menu-header-color;
    background-color: $menu-header-background-color;
    vertical-align: middle;
    padding: $medium-size;
    font-size: $medium-size;
    height: $x-large-size;
  }

  .layer-header-close {
    float: right;
    color: $menu-header-color;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .layer-content {
    padding: $medium-size;
  }
}

.layer {
  margin: 0;
}

.layer-enter {
  margin-right: -$layer-width;
  transition: margin-right $menu-animation-time $menu-animation-type;
  display: block !important;
}

.layer-enter.layer-enter-active {
  margin-right: 0;
  border-left: none !important;
  display: block;
}

.layer-leave {
  margin-right: 0;
  transition: margin-right $menu-animation-time $menu-animation-type;
}

.layer-leave.layer-leave-active {
  margin-right: -$layer-width;
  border-left: none !important;
}
