$layer-width: 288px !default;
$layer-btn-close-width: 16px !default;
$layer-padding: 16px !default;
$layer-offset: 8px !default;
$menu-text-color: #787878 !default;
$menu-background-color: #F2F2F2 !default;
$menu-animation-time: 500ms !default;
$menu-animation-type: ease !default;
$menu-header-background-color: #ccc !default;
$menu-header-color: white !default;
$menu-header-height: 48px !default;
