.menu-list {
  list-style: none;
  padding: 0;
}

.menu-item {
  padding: 0;
  position: relative;
  cursor: pointer;

  a, .layer-toggle, label {
    color: $menu-text-color;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: transparent;
    padding: $x-small-size;
    font-weight: 300;
  }

  .layer-toggle {
    color: $menu-text-color;

    &:active {
      color: $primary-complementary-color;
      background-color: $primary-color;
    }

    &:focus {
      outline: none;
    }

    &:after {
      content: '>';
      font-weight: 600;
      position: absolute;
      right: 10px;
      display: inline-block;
      color: darken($menu-text-color, 10%);
    }
  }

  .menu-item-icon {
    position: absolute;
    width: $small-size;
    top: $tiny-size + 2;
    left: 0;
  }

  .menu-item-icon + a, .menu-item-icon + .layer-toggle {
    padding-left: $small-size + $x-small-size;
  }

}

.menu-item-icon {
  width: $small-size;
  height: $small-size;
  display: inline-block;
  background-repeat: no-repeat !important;
  content: "";
}

.menu-item-home .menu-item-icon {
  background: url('/images/m_home.svg');
}

.menu-item-language .menu-item-icon {
  background: url('/images/m_language.svg');
}

.menu-item-about .menu-item-icon {
  background: url('/images/m_about.svg');
}

.menu-item-sign-up .menu-item-icon {
  background: url('/images/m_profile.svg');
}

.menu-item-login .menu-item-icon {
  background: url('/images/m_login.svg');
}

.menu-item-logout .menu-item-icon {
  background: url('/images/m_logout.svg'); // missing!
}

.menu-item-account .menu-item-icon {
  background: url('/images/m_profile.svg');
}

.menu-item-profile .menu-item-icon {
  background: url('/images/m_profile.svg');
}

.menu-item-saved-documents .menu-item-icon {
  background: url('/images/m_saved_documents.svg');
}

.menu-item-saved-searches .menu-item-icon {
  background: url('/images/m_saved_searches.svg');
}

.menu-item-saved-search .menu-item-icon {
  background: url('/images/save_search_off.svg');
}

.menu-item-complementary-content .menu-item-icon {
  background: url('/images/m_complementary_content.svg');
}

.menu-item-guided-search .menu-item-icon {
  background: url('/images/m_guided_search.svg');
}

@include desktop {
  .menu-item-sign-up > .menu-item-icon {
    background: url('/images/m_w_profile.svg');
    display: block;
  }

  .menu-item-login > .menu-item-icon {
    background: url('/images/m_w_login.svg');
  }

  .menu-item-logout > .menu-item-icon {
    background: url('/images/m_w_logout.svg');
  }

  .menu-item-account > .menu-item-icon {
    background: url('/images/m_w_profile.svg');
  }

  .menu-item-profile > .menu-item-icon {
    background: url('/images/m_w_profile.svg');
  }

  .menu-item-complementary-content .menu-item-icon {
    background: url('/images/m_w_complementary_content.svg');
  }

  .menu-item-saved-documents .menu-item-icon {
    background: url('/images/m_w_saved_documents.svg');
  }

  .menu-item-saved-searches .menu-item-icon {
    background: url('/images/m_w_saved_searches.svg');
  }
}
