.menu-list {
  list-style: none;
  padding: 0;
}

.menu-item {
  padding: $tiny-size 0;
  position: relative;
  cursor: pointer;

  &:first-child {
    padding-top: 0;
  }

  a, button {
    color: $menu-text-color;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: transparent;

    &.layer-toggle{
      padding: 0;

      &:after {
        content: '>';
        font-weight: 600;
        position: absolute;
        right: 10px;
        display: inline-block;
        color: darken($menu-text-color, 10%);
      }
    }

    &.layer-toggle {
      color: $menu-text-color;
    }
  }

  .menu-item-icon {
    position: absolute;
    width: $medium-size;
    top: $tiny-size + 2;
    left: 0;
  }

  .menu-item-icon + a, .menu-item-icon + button {
    padding-left: $medium-size + $small-size;
  }

}

.menu-item-icon {
  @extend .glyphicon;
}
