@import 'bootstrap';
@import '../../variables';

.sidebar-wrapper {
  height: 100%;
  width: 250px;
  position: fixed;
  right: 0;
  z-index: 1000;
  background-color: $menu-background-color;
  color: $menu-text-color;
  transition: $menu-animation-time ease;
  font-weight: 300;
  overflow-y: scroll;
  background-clip: content-box;

  a:hover {
    text-decoration: none;
  }

  .sidebar-header {
    background-color: darken($menu-background-color, 10%);
    vertical-align: middle;
    padding: 10px;
  }

  .sidebar-header-close {
    float: right;
    color: $menu-text-color;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .sidebar-content {
    padding: 10px;
  }

  .menu-item {
    border-bottom: 1px solid lighten($menu-text-color, 35%);
  }
}