@import 'bootstrap';
@import '../../variables';

#sidebar-wrapper {
  height: 100%;
  width: 250px;
  position: fixed;
  right: 0;
  z-index: 1000;
  background-color: $menu-background-color;
  color: $menu-text-color;
  transition: $menu-animation-time ease;
  font-weight: 300;
  overflow-y: scroll;

  a:hover {
    text-decoration: none;
  }

  .sidebar-header {
    background-color: darken($menu-background-color, 10%);
    vertical-align: middle;
    padding: 10px;
  }

  .sidebar-header-close {
    float: right;
    color: $menu-text-color;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .sidebar-content {
    padding: 10px;
  }

  // TODO: refactor main menu specific styles into the main menu
  .menu-list {
    margin-top: 5px;
    list-style: none;
    padding: 0;
  }

  .menu-item {
    padding: 7px 0;
    border-bottom: 1px solid lighten($menu-text-color, 35%);
    position: relative;

    a, span:last-child {
      color: $menu-text-color;
      margin-left: 7px;
      cursor: pointer;

      &:after {
        content: '>';
        font-weight: 600;
        position: absolute;
        right: 5px;
        display: inline-block;
        color: darken($menu-text-color, 10%);
      }
    }
  }

  .menu-item-icon {
    @extend .glyphicon;
  }

  .menu-item-home .menu-item-icon {
    @extend .glyphicon-home;
  }

  .menu-item-language .menu-item-icon {
    @extend .glyphicon-globe;
  }

  .menu-item-about .menu-item-icon {
    @extend .glyphicon-book;
  }

  .menu-item-sign-up .menu-item-icon {
    @extend .glyphicon-user;
  }

  .menu-item-login .menu-item-icon {
    @extend .glyphicon-log-in;
  }
}