.saved-search-buttons {
  a {
    color: $primary-text-color;
    &:hover {
      text-decoration: none;
    }
  }

  .button + .button {
    margin-left: $tiny-size;
    padding-left: $tiny-size;
    border-left: 1px solid $border-color;

    &:before {
      left: $tiny-size;
    }

    @include desktop {
      padding-left: $small-size + $tiny-size + $tiny-size;
    }
  }

  .select-all-action {
    float: right;

    @include desktop {
      display: none;
    }
  }

  @include desktop {
    .button {
      position: relative;
      padding-left: $small-size + $tiny-size;

      &:before {
        display: block;
        content: "";
        width: $small-size;
        height: $small-size;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .btn-save {
    &.btn-save-on {
      &:before {
        background-image: url('/images/save_search_on.svg');
      }
    }

    &:before {
      background-image: url('/images/save_search_off.svg');
    }
  }

  .btn-save-and-subscribe {
    &.btn-save-and-subscribe-on {
      &:before {
        background-image: url('/images/m_subscribed_search_on.svg');
      }
    }

    &:before {
      background-image: url('/images/m_subscribed_search_off.svg');
    }
  }
}
