.search-page {
  .result-box {
    min-height: 200px;
    position: relative;
  }

  .search-box {
    border-bottom: 1px solid $border-color;
    margin-bottom: $medium-size + $large-size;
  }

  .guided-questions-box {
    margin-bottom: $large-size;
  }

  .filter-groups-menu-wrapper {
    display: none;
    position: absolute;
    right: $tiny-size;
    top: $xx-large-size + $desktop-x-large-size - $tiny-size;
    width: $layer-width;

    .filter-groups-menu-title {
      padding-bottom: $small-size;
      color: $primary-color;
      font-size: $small-size;
    }

    li {
      border-top: 1px solid $border-color;
      background-color: transparent;

      .layer-toggle {
        background-color: transparent;

        &:active {
          color: $primary-text-color;
        }
      }
    }

    @include desktop {
      display: block;
    }
  }

  @include desktop {
    min-height: 1400px;
  }
}
