$search-bar-line: 1px solid darken($border-color, 10%);

.search-bar {
  overflow: visible;
  position: relative;

  .btn-clear {
    position: absolute;
    top: $small-size;
    right: $small-size;
    width: $small-size;
    height: $small-size;
    font-size: 0;
    background-image: url('/images/clear_icon.svg');

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .react-autosuggest input {
    background-color: white;

    @include desktop {
      border-bottom: $search-bar-line;
    }
  }

  @include desktop {
    &:after {
      content: " ";
      display: block;
      border: none;
      border-bottom: $search-bar-line;
      height: 0px;
      width: 300%;
      margin: 0 -100%;
      margin-top: -1px;
    }
  }

}
