.search-box {
  .layer-toggles {
    overflow: auto;
    margin-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid darkgray;
    margin-bottom: 15px;
  }

  .layer-toggle-help {
    background: transparent;
    color: $primary-color;
    padding-left: 0;

    .icon {
      margin-right: $x-tiny-size;
      @extend .glyphicon;
      @extend .glyphicon-exclamation-sign;
    }
  }

  .layer-toggle-filter-groups {
    float: right;
    text-transform: uppercase;
  }
}
