.signup-prompt {
  $button-bg-color: #333333;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3000;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 500ms;

  &.signup-prompt-slide {
    &-enter {
      transform: translateY(150px);
    }
    &-enter-active { transform: translateY(0px); }
    &-leave {
      transform: translateY(0px);
    }
    &-leave-active { transform: translateY(150px); }
  }

  .signup-prompt-content {
    padding: $tiny-size;
    padding-top: $small-size;
    margin: 0 auto;
    width: 700px;
    display: none;

    @include desktop {
      display: block;
    }
  }

  .signup-prompt-title {
    background-color: rgba(0, 0, 0, 0.5);
    padding: $tiny-size;
    text-align: center;
    color: $primary-complementary-color;
    padding-right: $small-size + $small-size;
  }

  .signup-prompt-dismiss {
    position: absolute;
    right: $small-size;
    top: $tiny-size;
    color: $primary-complementary-color;
    width: $small-size;
    height: $small-size;

    &:hover {
      text-decoration: none;
    }
  }

  .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;

    .help-block {
      margin-bottom: 0;
    }

    &.has-error .help-block {
      color: #FFFD6A;
    }

    &.has-success {
      color: $primary-complementary-color;
    }

    &:last-of-type {
      height: auto;
      margin-top: $tiny-size;
      margin-left: 0 !important;
    }
  }

  .form-group + .form-group {
    margin-left: $small-size;
  }

  .checkbox {
    margin: 0;
  }

  label {
    color: $primary-complementary-color;
  }

  .form-control {
    width: 216px;
  }

  .button + .button {
    margin-left: $small-size;
  }

  .button {
    margin-top: $x-tiny-size;
    display: inline-block;
    background-color: $button-bg-color;
    color: white;
    padding: $x-tiny-size $x-small-size;
    height: auto;

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .btn-prev {
    background-color: lighten($button-bg-color, 15%)
  }

  .signup-menu {
    .btn-terms {
      display: inline-block;
      margin-left: $x-tiny-size;
      vertical-align: middle;
      color: $primary-complementary-color;
      text-decoration: underline;
    }

    .form-group:nth-child(4) {
      margin-left: 0;
    }

    .form-group:nth-child(4), .btn-terms {
      margin-top: $tiny-size;
    }

    .btn-primary {
      display: none;
    }

    .g-recaptcha {
      display: none;
    }
  }
}
