.search-header {
  text-align: center;

  .search-header-title {
    font-size: 0;
    font-size: 0;
    background-image: url("/images/mcmaster_logo.png");
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}