@import 'bootstrap';

.search-box {
  .menu-toggles {
    overflow: auto;
    margin-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid darkgray;
    margin-bottom: 15px;
  }

  .toggle-help-menu {
    background: transparent;


    .icon {
      @extend .glyphicon;
      @extend .glyphicon-exclamation-sign;
    }
  }

  .toggle-filters-menu {
    float: right;
  }
}