.desktop-main-menu {
  float: right;
  display: none;

  .menu-item {
    display: inline-block;
    border-left: 1px solid darken($menu-text-color, 10%);

    &:first-child {
      border-left: none;
    }

    a, .layer-toggle {
      padding: $small-size;
      line-height: $small-size;
      padding-left: $small-size;
      padding-top: $small-size;
      padding-bottom: $small-size;
      width: 100%;
      height: 100%;
    }

    .layer-toggle {
      padding: $small-size;
      &::after {
        content: none;
      }
    }
  }

  .dropdown-icon {
    margin-left: $x-tiny-size;

    @extend .glyphicon;
    @extend .glyphicon-chevron-down;
  }

  .menu-item-icon {
    top: $small-size;
    left: $small-size;
  }

  .menu-item-sign-up, .menu-item-login {
    .layer-toggle {
      padding-left: $small-size + $small-size + $tiny-size;
    }
  }
}
