.nested-menu {
  h2 {
    font-size: 13px;

    &:first-child {
      margin-top: 10px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 5px 10px;
    background-color: lightgray;
    color: gray;
    .checkmark {
      margin-left: 5px;
    }

    & > ul {
      & > li {
        position: relative;
        padding-left: 12px;
        &::before{
          content: "\21B3";
          position: absolute;
          top: 5px;
          left: -5px;
        }
      }
    }
  }

  li + li {
    margin-top: 1px;
  }
}
