.nested-menu {
  h2 {
    font-size: $x-small-size;
    line-height: $x-small-size;
    text-transform: uppercase;
    color: #818181;
    margin: $x-large-size 0 $tiny-size 0;
  }

  .applied-filters {
    margin-top: $small-size;
  }

  .applied-filters + h2 {
    margin-top: $medium-size;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .any-filters {
    margin-bottom: $tiny-size;
  }

  li {
    background-color: #F7F7F7;
    min-height: $large-size;
    font-size: $x-small-size + 1;
    font-weight: 400;
    vertical-align: middle;
    color: $menu-text-color;
    position: relative;

    a {
      padding-right: $tiny-size + $small-size;
    }

    .checkmark {
      position: absolute;
      right: $tiny-size;
      top: $x-small-size;
    }

    & > ul {
      & > li {
        position: relative;
        padding-left: $x-small-size;
        &::before{
          content: "\21B3";
          position: absolute;
          top: $small-size - 4;
          left: $tiny-size - 2;
        }
      }
    }

  }

  li + li {
    margin-top: 1px;
  }

  li + .nested-filters {
    margin-bottom: $tiny-size;
  }
}

.layer-filters {
  .layer-content {
    padding-bottom: $x-large-size + $tiny-size;
    @include desktop {
      padding-bottom: $small-size;
    }
  }
}

.menu-item.filter-applied a {
  font-weight: 600;
  font-style: italic;
  color: $primary-color;
}
