.nested-menu {
  h2 {
    font-size: $x-small-size;
    line-height: $x-small-size;
    text-transform: uppercase;
    color: #818181;
    margin: $x-large-size 0 $tiny-size 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    background-color: #F7F7F7;
    color: gray;
    .checkmark {
      margin-left: 5px;
    }

    & > ul {
      & > li {
        position: relative;
        padding-left: 12px;
        &::before{
          content: "\21B3";
          position: absolute;
          top: 5px;
          left: -5px;
        }
      }
    }
  }

  li + li {
    margin-top: 1px;
  }
}
