.filter-groups-menu {
  padding-bottom: $x-large-size;

  h2:first-child {
    margin-top: $medium-size;
  }

  .filter-group-complementary-1, .filter-group-complementary-2, .filter-group-complementary-3 {

    .layer-toggle {
      padding-left: $large-size + $tiny-size + $tiny-size;
      &:before {
        content: '';
        height: $large-size;
        width: $large-size;
        display: block;
        position: absolute;
        left: $tiny-size;
        top: calc(50% - (#{$large-size} / 2));
      }
      &:after {
        top: $medium-size;
      }
    }
  }

  .filter-group-complementary-1 .layer-toggle:before {
    background: transparent url(/images/global_icon.svg);
  }

  .filter-group-complementary-2 .layer-toggle:before {
    background: transparent url(/images/canadian_icon.svg);
  }

  .filter-group-complementary-3 .layer-toggle:before {
    background: transparent url(/images/ontario_icon.svg);
  }

  .filter-group-icon + .layer-toggle {
    padding-left: $small-size + $tiny-size;
  }
}
