.layer-main, .layer-account {
  background-color: #F2F2F2;

  .layer-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-menu {
  margin: 0;

  .menu-item {
    padding-left: $x-small-size;
    padding-right: $x-small-size;
    position: relative;
    border-bottom: 1px solid #E5E5E5;

    .menu-item-text {
      padding: $tiny-size;
      padding-left: $x-small-size + $small-size;
    }

    &:first-child {
      padding-top: 0;
    }

    &:active {
      background-color: $primary-color;
    }

    .menu-item-icon {
      left: $x-small-size;
    }
  }

  .menu-item-language {
    .languages-menu {
      display: none;
    }
  }

  .menu-item-account {
    .account-menu {
      display: none;
    }
  }

  .desktop-menu-link {
    display: none;
  }

  .menu-item-guided-search {
    padding-right: $x-large-size;

    .react-toggle {
      position: absolute;
      right: $tiny-size;
      top: $x-tiny-size + 2;

      @include desktop {
        top: $x-small-size;
      }
    }
  }

  @include desktop {
    float: right;
    display: none;

    & > .menu-item {
      border-bottom: none;
      display: inline-block;
      margin: 0;
      padding: 0;

      &:before {
        display: inline-block;
        content: "|";
        position: absolute;
        top: $small-size;
        left: -2px;

        &:first-child:before {
          display: none;
        }
      }

      .menu-item-text {
        padding: $small-size;
        line-height: $small-size;
        padding-top: $small-size;
        padding-bottom: $small-size;
        width: 100%;
        height: 100%;
      }

      .layer-toggle {
        padding: $small-size;
        &::after {
          content: none;
        }
      }
    }

    .desktop-menu-link {
      display: block;
    }

    .menu-item-language {
      padding-right: $small-size;

      .layer-toggle {
        display: none;
      }

      .menu-item-icon {
        margin-left: $x-tiny-size;
        display: inline-block;
        position: absolute;
        right: $tiny-size;
        left: auto;
        top: $medium-size;
        background: url('/images/dropdown_grey.svg');
      }

      .languages-menu {
        display: block;

        .menu-item {
          padding-left: $small-size;
          a {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }

    .menu-item-account {
      padding-right: $small-size;

      .layer-toggle {
        display: none;
      }

      &:after {
        content: " ";
        margin-left: $x-tiny-size;
        display: inline-block;
        position: absolute;
        right: $tiny-size;
        left: auto;
        top: $medium-size;
        height: $small-size;
        width: $small-size;
        background: url('/images/dropdown_grey.svg');
        background-repeat: no-repeat;
      }

      .account-menu {
        .menu-item {
          display: block;
          padding-left: $small-size + $tiny-size;
        }

        .menu-item-icon {
          display: block;
        }
      }
    }

    .menu-item-guided-search {
      padding-right: $x-large-size + $x-tiny-size;
    }

    .menu-item-icon {
      top: $small-size;
      left: $small-size;
    }

    .menu-item-sign-up, .menu-item-login, .menu-item-account, .menu-item-logout {
      padding-left: $small-size + $tiny-size;
    }

    .menu-item-home { display: none; }
    .menu-item-icon { display: none; }

    .menu-item-sign-up > .menu-item-icon {
      display: block;
    }

    .menu-item-login > .menu-item-icon {
      display: block;
    }

    .menu-item-logout > .menu-item-icon {
      display: block;
    }

    .menu-item-account > .menu-item-icon {
      display: block;
    }

    .menu-item-profile > .menu-item-icon {
      display: block;
    }
  }
}
