.signup-menu {
  // fixes for IE scrollbars
  overflow-x: hidden;
  overflow-y: hidden;

  .form-group:nth-child(4) {
    display: inline-block;
  }

  .btn-terms {
    display: inline;
    margin-bottom: $tiny-size;
    margin-left: $x-tiny-size;
  }

  .recaptcha-group {
    .help-block {
      margin-top: -15px;
    }
  }
}
