.complementary-content-page {
  h1 {
    margin-bottom: $x-medium-size;
  }

  .complementary-content-title {
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .complementary-content-description {
    font-weight: 300;
    color: $primary-text-color;
    margin-bottom: $x-small-size;
  }
}
