.saved-search-list {
  h2 {
    font-size: $medium-size - 4;
    max-width: calc(100% - 75px);

    @include desktop {
      font-size: $medium-size;
    }
  }

  .saved-search-list-header {
    overflow: auto;
  }

  .list-item:first-child {
    margin-top: 0;
  }

  .saved-search-list-instructions {
    display: block;
    margin-bottom: $x-medium-size;

    @include desktop {
      display: inline;
      margin-bottom: inherit;
    }
  }
}
