.saved-search-page {
  .saved-search-header {
    overflow: auto;
    margin-top: 20px;

    h1 {
      padding-bottom: $small-size;
      border-bottom: 1px solid $border-color;

      @include desktop {
        display: inline;
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    .saved-search-subscribed-only {
      display: block;
      text-align: right;
      padding-bottom: $tiny-size;
      border-bottom: 1px solid $border-color;
      margin-bottom: $tiny-size;

      @include desktop {
        float: right;
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
        line-height: $large-size;
      }
    }

    @include desktop {
      margin-bottom: $x-large-size;
    }
  }

  span + input {
    margin-left: $tiny-size;
  }

  .saved-search-list {
    margin-top: $tiny-size;
  }
}
