.saved-search-item {
  .saved-search-item-header {
    margin-bottom: $small-size;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    float: left;
  }

  .saved-search-select {
    float: right;
    padding-right: $tiny-size;

    .checkbox {
      margin-left: $tiny-size;
      margin-bottom: -1px;
    }
  }

  .saved-search-control {
    margin-top: $small-size;
    line-height: $large-size;

    .react-toggle {
      float: right;
      margin-top: $x-tiny-size;
      margin-left: $tiny-size;
    }
  }

  .applied-filters {
    display: inline;
    padding-left: 0;
    margin-top: -$tiny-size;
    clear: both;
    overflow: hidden;
    margin-bottom: $large-size;
  }

  .applied-filter-item {
    display: inline-block;
    float: none;
    margin-right: $tiny-size;
    margin-top: $tiny-size;

    .applied-filter-item-content {
      padding-right: $tiny-size;
    }
  }

  .saved-search-keywords-label, .saved-search-filters-label {
    font-weight: 600;
    margin-right: $x-tiny-size;
  }

  .saved-search-filters-label {
    margin-top: $x-small-size;
    margin-right: $tiny-size;
    float: left;
  }

  .saved-search-keywords {
    margin-top: -$tiny-size;
    margin-bottom: $x-tiny-size;
  }
}
