.saved-search-item {
  .saved-search-item-header {
    overflow: auto;
    margin-bottom: $medium-size;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    float: left;
  }

  .saved-search-select {
    float: right;
    padding-right: $tiny-size;
  }

  .saved-search-control {
    line-height: $large-size;

    .react-toggle {
      float: right;
      margin-top: $x-tiny-size;
      margin-left: $tiny-size;
    }
  }
}
