.article-item {
  position: relative;

  h1 {
    color: $primary-color;
    font-size: $medium-size + 4;
  }

  h2 {
    color: $link-color;
    font-size: $x-small-size + 2;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: $x-tiny-size;
  }

  ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;

    & > li > ul {
      margin-left: $small-size;

      & > li > ul {
        list-style: disc;
      }
    }
  }

  .article-field {
    margin-top: $medium-size;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .article-item-document-type {
    ul {
      list-style: disc;
    }
  }

  .article-item-countries {
    @include inline-list-with($x-tiny-size, ';');
  }

  .article-item-country-groupings {
    @include inline-list-with($x-tiny-size, ',');
  }

  .region-item {
    margin: $x-small-size 0 0 0;
  }

  .region-item-title {
    font-weight: 600;
    margin-right: $x-tiny-size;
  }

  .article-author-list {
    display: inline;
    margin-left: $x-tiny-size;

    .author-item {
      display: inline;

      a { color: $primary-text-color; }
    }

    .author-item + .author-item {
      &:before {
        content: '; '
      }
    }
  }

  a {
    color: black;
    text-decoration: underline;

    &.btn {
      color: white;
      text-decoration: none;
    }
  }

  .article-item-body > .section:nth-child(odd), .article-item-body > .desktop-sidebar > .section:nth-child(even) {
    background-color: #F3F3F3;
    width: 300%;
    margin-left: -100%;
    padding: $medium-size 100%;
    margin-top: $medium-size;

    h2:first-child {
      margin-top: 0;
    }

    h2:last-child {
      margin-bottom: 0;
    }
  }

  @include desktop {
    $sidebar-width: 220px;
    .article-item-body {
      padding-left: $sidebar-width + $large-size;
      position: relative;
    }

    h1 {
      border-bottom: 2px solid $border-color;
      padding-bottom: $xx-large-size;
      margin-bottom: $xx-large-size;
      margin-left: $sidebar-width + $large-size;
    }

    .abstract-section .article-field {
      border-bottom: 2px solid $border-color;
      padding-bottom: $large-size;
      margin-bottom: $large-size;
    }

    .article-field:nth-child(6n) {
      padding-bottom: $large-size;
      margin-bottom: $large-size;
      border-bottom: 2px solid $border-color;
    }

    .article-item-body > .section:nth-child(odd), .article-item-body > .desktop-sidebar > .section:nth-child(even) {
      background: none;
      margin-left: 0;
      width: 100%;
      padding: 0;
    }

    .desktop-sidebar {
      width: $sidebar-width;
      position: absolute;
      left: 0;
      top: 0;
      color: lighten($primary-text-color, 20%);
      text-align: right;

      .article-field:nth-child(5n) {
        border: none;
        margin-bottom: inherit;
        padding-bottom: inherit;
      }

      .section:first-child, h2:first-child {
        margin-top: 0;
      }

      ul {
        list-style: none;
      }

      a {
        color: lighten($primary-text-color, 20%);
      }

      h2 {
        font-size: 11px;
        color: $primary-text-color;
      }
    }
  }
}
